* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

.btm-bdr {
  border-bottom: 1px solid #a64dff;
}

.di {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.dc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top left, #a64dff, #7300e6);
}

.wrapper {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding: 10px;
}

.card {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 600px;
  background: white;
  justify-content: space-between;
  border: solid 1px white;
  padding: 15px 20px;
}

.task-title {
  width: 100%;
  height: 10%;
  justify-content: start;
  font-size: 16px;
  font-weight: 300;
}

.form {
  width: 100%;
  height: 10%;
  background: #7300e6;
}

.input-list {
  color: white;
  width: 100%;
  height: 100%;
  padding: 15px 20px;
  border: none;
  background: none;
  outline: none;
  font-weight: bold;
}

.task-list {
  width: 100%;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px 20px;
}

.list-item {
  width: 100%;
  height: auto;
  padding: 15px 0;
  justify-content: flex-start;
}

.checkbox {
  margin-left: 10px;
  color: #7300e6;
}

.list-item > p {
  margin-left: 10px;
  color: #7300e6;
  text-transform: capitalize;
}

.index {
  color: #7300e6;
}

.icon {
  margin-left: auto;
  margin-right: 0;
  color: #7300e6;
  transition: all 0.3s ease-in-out;
  width: 15px;
  height: auto;
}

.icon:hover {
  color: #a64dff;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 10%;
}

.delete-all-task {
  width: 100%;
  height: 100%;
  color: #7300e6;
  background: none;
  border: none;
  transition: all 0.3s ease-in-out;
}

.delete-all-task:hover {
  color: white;
  background: #7300e6;
  cursor: pointer;
}
